@using Dominio;
@model List<Usuario>

<h2>Listado de clientes</h2>


@if (Model != null)
{

    <table class="table table-dark table-striped table-hover text-light">
        <thead class="table-secondary text-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Saldo Disponible</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cliente unCliente in Model)
            {
                <tr>
                    <td>@unCliente.Id</td>
                    <td>@unCliente.Nombre</td>
                    <td>@unCliente.Apellido</td>
                    <td>@unCliente.Email</td>
                    <td>@unCliente.SaldoDisponible</td>
                </tr>
            }
        </tbody>
    </table>

}

@if (ViewBag.error != null)
{
    <div class="alert-danger">
        @ViewBag.error
    </div>     
}

