@using Dominio;
@model Cliente;

@{
    string nombre = "";
    string apellido = "";
    string email = "";
    string clave = "";
    decimal saldoDisponible = 0;
}


@if (ViewBag.error != null)
{
    <h4 class="text-center alert-danger">
        @ViewBag.error
    </h4>
}

@if (ViewBag.mensajeExito != null)
{
    <h4 class="text-center alert-success">
        @ViewBag.mensajeExito
    </h4>
}

@if (Model != null)
{
    nombre = Model.Nombre;
    apellido = Model.Apellido;
    email = Model.Email;
    clave = Model.Clave;
    saldoDisponible = Model.SaldoDisponible;
}

<h2 class="text-center text-white mt-2">Regístrate</h2>


<form method="post" class="p-4 rounded bg-dark text-light card-registro">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control bg-secondary text-light border-0" name="nombre" id="nombre" placeholder="Ingresa tu nombre" value="@nombre" />
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control bg-secondary text-light border-0" name="apellido" id="apellido" placeholder="Ingresa tu apellido" value="@apellido" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control bg-secondary text-light border-0" name="email" id="email" placeholder="Ingresa tu correo" value="@email" />
    </div>
    <div class="mb-3">
        <label for="clave" class="form-label">Contraseña</label>
        <div class="input-group">
            <input type="password" class="form-control bg-secondary text-light border-0" name="clave" id="clave" placeholder="Crea tu contraseña" value="@clave" />
            <span class="input-group-text bg-secondary text-light border-0" onclick="togglePasswordVisibility()" style="cursor: pointer;">
                <i id="password-icon" class="bi bi-eye"></i>
            </span>
        </div>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-primary w-100" value="Registrarme" />
    </div>
</form>


<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("clave");
        var passwordIcon = document.getElementById("password-icon");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordIcon.classList.remove("bi-eye");
            passwordIcon.classList.add("bi-eye-slash");
        } else {
            passwordInput.type = "password";
            passwordIcon.classList.remove("bi-eye-slash");
            passwordIcon.classList.add("bi-eye");
        }
    }
</script>